form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: antiquewhite;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color .5s ease;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    
}

button[type="reset"],
button[type="submit"]
{
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 30px;
    transition: background-color .5s ease;
}


button {
    background-color: burlywood;
    border: none;
    border-radius: 10%;
    transition: ease-in-out all .5s;
    transform: scale(1);
}
button:hover {
    background-color: green;
    transform: scale(1.2);
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="email"]:hover,
textarea {
    background-color: silver;
}


a {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

a:active {
    color: lightskyblue;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    a {
        text-decoration: underline;
        color: aqua;
        font-size: 50px;
    }

    form {
        background-color: darkgray;
    }
}