* {
    background: linear-gradient(45deg, rgba(255,99,71,.5), rgba(255,159,64,.5));
}

h1 {
    background: linear-gradient(to right, #007bff, #6610f2);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

img {
    border-radius: 100%;
    opacity: .8;
}